In [1]:
import pandas as pd; import numpy as np; import requests; import re; from helium import *
import time, requests; from random import uniform; from bs4 import BeautifulSoup as bs

In [17]:
driver = start_chrome('https://www.espn.com/womens-college-basketball/standings/_/group/7')

In [21]:
go_to('https://www.espn.com/womens-college-basketball/standings/_/group/7')

In [248]:
# getting the final 2 numbers of the consecutive year
str(2023+1-2000)

'24'

In [249]:
# matching what the dropbox values will be
f'{2023}-{str(2023+1-2000)}'

'2023-24'

In [22]:
current_button = '2023-24'
for i in range(2023,2018, -1):
    year = f'{i}-{str(i+1-2000)}'
    click(Button(to_right_of=ComboBox('Big Ten')))
    select(current_button, year)
    click('Submit')
    time.sleep(15) # sleeping for 15 seconds before reading for 2 reasons: 
    #1. It prevents the website from realizing I'm using code to scrape the website rather than going through the website manually
    #2. It gives the website time to load in before the for loop copies the page source code to a txt file. 
    #time.sleep(5) # sleeping for five seconds because it keeps reading the standings for the 2020-21 season too quickly before it fully loads in
    # it was causing the 2021-22 and 2020-21 standings to be the same
    with open(f'espn_ncaaw_bigten_standings/{year}.txt', 'w', encoding = 'utf-8') as f:
        f.write(driver.page_source)
    current_button = year
    
kill_browser()

# Cleaning

In [2]:
# column names: Hardcoding column name "Team" in since it's only one object and the original 
# table on ESPN doesn't label the team column
standings = {}
for i in range(2023,2018, -1):
    col_names = ['Team']
    team_names = []
    cell_values = []
    year = f'{i}-{str(i+1-2000)}'
    with open(f'espn_ncaaw_bigten_standings/{year}.txt', encoding = 'utf-8') as f:
        soup = bs(f)
    # grabs team names
    for n in soup.find_all('tbody', class_ = "Table__TBODY")[0].find_all('tr'):
        name = n.find_all('span', class_ = 'hide-mobile')[0].get_text()
#        print(name)
        team_names.append(name)
    # grabs column names
    for c in soup.find_all('div', class_ = "Table__Scroller")[0].\
find_all('thead', class_ = 'Table__header-group Table__THEAD')[0].\
find_all('tr', class_ = 'Table__sub-header Table__TR Table__even')[0].\
find_all('th'):
        col_name = c.get_text()
       # print(col_name)
        col_names.append(col_name)
    # grabs data values
    for row in soup.find_all('div', class_ = "Table__Scroller")[0].\
find_all('tbody', class_ = 'Table__TBODY')[0].\
find_all('tr'):
        td = row.find_all('td')
        for val in range(0,len(td)):
            value = row.find_all('span')[val].get_text()
         #   print(value)
            cell_values.append(value)
    #print(len(cell_values))
    cells1 = np.array(pd.concat([pd.DataFrame(np.array(team_names)), pd.DataFrame(np.array(cell_values).\
                                                                         reshape(len(cell_values)//(len(col_names)-1), len(col_names)-1))], axis = 1))
    print(cells1)
    #saves data in dictionary
    standings[year] = pd.DataFrame(cells1, columns=col_names)
    #adds year to the dataset
    standings[year]['Year'] = year

[['Ohio State Buckeyes' '16-2' '-' '.889' '26-6' '.813' '16-2' '8-2' 'L1'
  '4-3' '3-3']
 ['Iowa Hawkeyes' '15-3' '1' '.833' '34-5' '.872' '15-1' '8-3' 'L1' '7-3'
  '7-3']
 ['Indiana Hoosiers' '15-3' '1' '.833' '26-6' '.813' '17-0' '7-4' 'L1'
  '4-4' '3-4']
 ['Michigan State Spartans' '12-6' '4' '.667' '22-9' '.710' '13-2' '6-4'
  'L2' '0-4' '0-4']
 ['Nebraska Cornhuskers' '11-7' '5' '.611' '23-12' '.657' '13-3' '5-7'
  'L1' '1-6' '1-6']
 ['Michigan Wolverines' '9-9' '7' '.500' '20-14' '.588' '11-4' '5-6' 'L2'
  '2-5' '2-5']
 ['Penn State Lady Lions' '9-9' '7' '.500' '22-13' '.629' '15-4' '5-6'
  'L1' '0-6' '0-6']
 ['Maryland Terrapins' '9-9' '7' '.500' '19-14' '.576' '12-3' '3-8' 'L2'
  '1-8' '1-8']
 ['Illinois Fighting Illini' '8-10' '8' '.444' '19-15' '.559' '12-5'
  '4-7' 'W5' '1-4' '1-5']
 ['Wisconsin Badgers' '6-12' '10' '.333' '15-17' '.469' '9-8' '5-7' 'L1'
  '0-4' '0-4']
 ['Minnesota Golden Gophers' '5-13' '11' '.278' '20-16' '.556' '15-6'
  '4-8' 'L1' '0-5' '0-5']
 ['Purdue Boilermakers' '5-13' '11' '.278' '15-19' '.441' '10-7' '4-9'
  'L1' '0-6' '0-6']
 ['Northwestern Wildcats' '4-14' '12' '.222' '9-21' '.300' '6-9' '3-9'
  'L1' '0-6' '0-6']
 ['Rutgers Scarlet Knights' '2-16' '14' '.111' '8-24' '.250' '7-11'
  '1-10' 'L5' '0-4' '0-4']]
[['Indiana Hoosiers' '16-2' '-' '.889' '28-4' '.875' '17-1' '8-2' 'L1'
  '9-2' '9-2']
 ['Iowa Hawkeyes' '15-3' '1' '.833' '31-7' '.816' '17-1' '7-4' 'L1' '9-5'
  '9-5']
 ['Maryland Terrapins' '15-3' '1' '.833' '28-7' '.800' '13-2' '11-2' 'L1'
  '9-5' '9-5']
 ['Ohio State Buckeyes' '12-6' '4' '.667' '28-8' '.778' '13-4' '10-2'
  'L1' '9-7' '9-7']
 ['Michigan Wolverines' '11-7' '5' '.611' '23-10' '.697' '10-4' '7-5'
  'L1' '3-8' '4-8']
 ['Illinois Fighting Illini' '11-7' '5' '.611' '22-10' '.688' '12-3'
  '8-4' 'L2' '1-6' '1-6']
 ['Purdue Boilermakers' '9-8' '6.5' '.529' '19-11' '.633' '10-4' '6-4'
  'L2' '2-6' '2-6']
 ['Nebraska Cornhuskers' '8-10' '8' '.444' '18-15' '.545' '12-5' '4-9'
  'L1' '3-9' '2-9']
 ['Michigan State Spartans' '7-10' '8.5' '.412' '16-14' '.533' '11-6'
  '4-5' 'L1' '1-10' '1-10']
 ['Wisconsin Badgers' '6-12' '10' '.333' '11-20' '.355' '7-7' '4-8' 'L1'
  '1-5' '1-5']
 ['Rutgers Scarlet Knights' '5-13' '11' '.278' '12-20' '.375' '10-7'
  '1-9' 'L1' '0-10' '0-9']
 ['Penn State Lady Lions' '4-14' '12' '.222' '14-17' '.452' '11-6' '0-10'
  'L1' '0-7' '0-7']
 ['Minnesota Golden Gophers' '4-14' '12' '.222' '11-19' '.367' '9-8'
  '1-10' 'L1' '0-7' '0-8']
 ['Northwestern Wildcats' '2-16' '14' '.111' '9-21' '.300' '7-10' '2-10'
  'L3' '0-9' '0-9']]
[['Ohio State Buckeyes' '14-4' '-' '.778' '25-7' '.781' '14-2' '9-3' 'L1'
  '3-6' '3-6']
 ['Iowa Hawkeyes' '14-4' '-' '.778' '24-8' '.750' '12-5' '9-3' 'L1' '4-4'
  '4-4']
 ['Michigan Wolverines' '13-4' '0.5' '.765' '25-7' '.781' '16-0' '5-5'
  'L1' '8-3' '8-3']
 ['Maryland Terrapins' '13-4' '0.5' '.765' '23-9' '.719' '16-1' '7-4'
  'L1' '5-8' '5-9']
 ['Indiana Hoosiers' '11-5' '2' '.688' '24-9' '.727' '14-2' '6-4' 'L1'
  '6-8' '5-8']
 ['Nebraska Cornhuskers' '11-7' '3' '.611' '24-9' '.727' '16-1' '5-6'
  'L2' '3-5' '3-5']
 ['Northwestern Wildcats' '8-8' '5' '.500' '17-12' '.586' '10-3' '5-6'
  'L1' '2-5' '2-5']
 ['Michigan State Spartans' '8-9' '5.5' '.471' '15-15' '.500' '10-5'
  '4-7' 'L1' '1-7' '1-7']
 ['Purdue Boilermakers' '7-11' '7' '.389' '17-15' '.531' '11-6' '5-7'
  'L1' '1-6' '1-6']
 ['Minnesota Golden Gophers' '7-11' '7' '.389' '15-18' '.455' '9-7' '5-8'
  'L1' '0-6' '0-5']
 ['Wisconsin Badgers' '5-13' '9' '.278' '8-21' '.276' '5-10' '2-10' 'L1'
  '0-6' '0-6']
 ['Penn State Lady Lions' '5-13' '9' '.278' '11-18' '.379' '7-6' '3-9'
  'L3' '0-7' '0-7']
 ['Rutgers Scarlet Knights' '3-14' '10.5' '.176' '11-20' '.355' '8-8'
  '2-8' 'L1' '0-7' '0-8']
 ['Illinois Fighting Illini' '1-13' '11' '.071' '7-20' '.259' '6-9' '0-8'
  'L1' '0-4' '0-2']]
[['Maryland Terrapins' '17-1' '-' '.944' '26-3' '.897' '10-0' '9-1' 'L1'
  '4-2' '5-2']
 ['Indiana Hoosiers' '16-2' '1' '.889' '21-6' '.778' '10-2' '8-2' 'L1'
  '4-4' '4-4']
 ['Rutgers Scarlet Knights' '10-3' '4.5' '.769' '14-5' '.737' '9-1' '5-2'
  'L2' '2-1' '2-1']
 ['Michigan Wolverines' '9-4' '5.5' '.692' '16-6' '.727' '9-1' '5-3' 'L1'
  '4-4' '6-4']
 ['Northwestern Wildcats' '11-7' '6' '.611' '16-9' '.640' '7-5' '6-2'
  'L1' '2-6' '2-6']
 ['Iowa Hawkeyes' '11-8' '6.5' '.579' '20-10' '.667' '10-3' '5-5' 'L1'
  '3-9' '4-9']
 ['Ohio State Buckeyes' '9-7' '7' '.563' '13-7' '.650' '10-1' '3-6' 'L4'
  '3-4' '3-3']
 ['Michigan State Spartans' '8-7' '7.5' '.533' '15-9' '.625' '9-4' '4-3'
  'L2' '1-6' '1-5']
 ['Nebraska Cornhuskers' '9-10' '8.5' '.474' '13-13' '.500' '8-3' '3-8'
  'L1' '4-4' '4-4']
 ['Minnesota Golden Gophers' '7-11' '10' '.389' '8-13' '.381' '5-6' '3-6'
  'L2' '0-5' '0-5']
 ['Penn State Lady Lions' '6-13' '11.5' '.316' '9-15' '.375' '6-7' '3-7'
  'L4' '1-9' '1-7']
 ['Purdue Boilermakers' '4-14' '13' '.222' '7-16' '.304' '6-8' '1-7' 'L2'
  '0-8' '0-7']
 ['Illinois Fighting Illini' '2-16' '15' '.111' '5-18' '.217' '4-7'
  '0-10' 'L1' '0-6' '0-7']
 ['Wisconsin Badgers' '2-18' '16' '.100' '5-19' '.208' '5-8' '0-10' 'L6'
  '1-8' '1-8']]
[['Maryland Terrapins' '16-2' '-' '.889' '28-4' '.875' '14-1' '9-3' 'W17'
  '7-2' '6-2']
 ['Northwestern Wildcats' '16-2' '-' '.889' '26-4' '.867' '14-2' '10-1'
  'L1' '2-2' '2-2']
 ['Iowa Hawkeyes' '14-4' '2' '.778' '23-7' '.767' '15-0' '6-5' 'L2' '2-1'
  '2-1']
 ['Indiana Hoosiers' '13-5' '3' '.722' '24-8' '.750' '11-4' '10-2' 'L1'
  '2-5' '2-5']
 ['Rutgers Scarlet Knights' '11-7' '5' '.611' '22-9' '.710' '14-2' '5-6'
  'L1' '1-4' '1-4']
 ['Ohio State Buckeyes' '11-7' '5' '.611' '21-12' '.636' '8-5' '8-5' 'L1'
  '5-7' '3-7']
 ['Michigan Wolverines' '10-8' '6' '.556' '21-11' '.656' '12-4' '6-5'
  'L1' '2-6' '2-5']
 ['Michigan State Spartans' '9-9' '7' '.500' '16-14' '.533' '11-3' '4-7'
  'L1' '1-7' '1-7']
 ['Purdue Boilermakers' '8-10' '8' '.444' '18-14' '.563' '9-6' '6-6' 'L1'
  '0-7' '0-7']
 ['Nebraska Cornhuskers' '7-11' '9' '.389' '17-13' '.567' '13-4' '2-8'
  'L2' '1-5' '0-5']
 ['Minnesota Golden Gophers' '5-13' '11' '.278' '16-15' '.516' '9-8'
  '6-6' 'L1' '1-5' '1-4']
 ['Wisconsin Badgers' '3-15' '13' '.167' '12-19' '.387' '7-8' '3-9' 'L1'
  '0-6' '0-6']
 ['Illinois Fighting Illini' '2-16' '14' '.111' '11-19' '.367' '9-9'
  '2-9' 'L7' '0-4' '0-4']
 ['Penn State Lady Lions' '1-17' '15' '.056' '7-23' '.233' '5-11' '1-10'
  'L15' '0-5' '0-4']]

In [3]:
for i in standings.keys():
    print(i)
    print(standings[i])

2023-24
                        Team   W-L  GB   PCT    W-L   PCT  HOME  AWAY STRK  \
0        Ohio State Buckeyes  16-2   -  .889   26-6  .813  16-2   8-2   L1
1              Iowa Hawkeyes  15-3   1  .833   34-5  .872  15-1   8-3   L1
2           Indiana Hoosiers  15-3   1  .833   26-6  .813  17-0   7-4   L1
3    Michigan State Spartans  12-6   4  .667   22-9  .710  13-2   6-4   L2
4       Nebraska Cornhuskers  11-7   5  .611  23-12  .657  13-3   5-7   L1
5        Michigan Wolverines   9-9   7  .500  20-14  .588  11-4   5-6   L2
6      Penn State Lady Lions   9-9   7  .500  22-13  .629  15-4   5-6   L1
7         Maryland Terrapins   9-9   7  .500  19-14  .576  12-3   3-8   L2
8   Illinois Fighting Illini  8-10   8  .444  19-15  .559  12-5   4-7   W5
9          Wisconsin Badgers  6-12  10  .333  15-17  .469   9-8   5-7   L1
10  Minnesota Golden Gophers  5-13  11  .278  20-16  .556  15-6   4-8   L1
11       Purdue Boilermakers  5-13  11  .278  15-19  .441  10-7   4-9   L1
12     Northwestern Wildcats  4-14  12  .222   9-21  .300   6-9   3-9   L1
13   Rutgers Scarlet Knights  2-16  14  .111   8-24  .250  7-11  1-10   L5

     AP  USA     Year
0   4-3  3-3  2023-24
1   7-3  7-3  2023-24
2   4-4  3-4  2023-24
3   0-4  0-4  2023-24
4   1-6  1-6  2023-24
5   2-5  2-5  2023-24
6   0-6  0-6  2023-24
7   1-8  1-8  2023-24
8   1-4  1-5  2023-24
9   0-4  0-4  2023-24
10  0-5  0-5  2023-24
11  0-6  0-6  2023-24
12  0-6  0-6  2023-24
13  0-4  0-4  2023-24
2022-23
                        Team   W-L   GB   PCT    W-L   PCT  HOME  AWAY STRK  \
0           Indiana Hoosiers  16-2    -  .889   28-4  .875  17-1   8-2   L1
1              Iowa Hawkeyes  15-3    1  .833   31-7  .816  17-1   7-4   L1
2         Maryland Terrapins  15-3    1  .833   28-7  .800  13-2  11-2   L1
3        Ohio State Buckeyes  12-6    4  .667   28-8  .778  13-4  10-2   L1
4        Michigan Wolverines  11-7    5  .611  23-10  .697  10-4   7-5   L1
5   Illinois Fighting Illini  11-7    5  .611  22-10  .688  12-3   8-4   L2
6        Purdue Boilermakers   9-8  6.5  .529  19-11  .633  10-4   6-4   L2
7       Nebraska Cornhuskers  8-10    8  .444  18-15  .545  12-5   4-9   L1
8    Michigan State Spartans  7-10  8.5  .412  16-14  .533  11-6   4-5   L1
9          Wisconsin Badgers  6-12   10  .333  11-20  .355   7-7   4-8   L1
10   Rutgers Scarlet Knights  5-13   11  .278  12-20  .375  10-7   1-9   L1
11     Penn State Lady Lions  4-14   12  .222  14-17  .452  11-6  0-10   L1
12  Minnesota Golden Gophers  4-14   12  .222  11-19  .367   9-8  1-10   L1
13     Northwestern Wildcats  2-16   14  .111   9-21  .300  7-10  2-10   L3

      AP   USA     Year
0    9-2   9-2  2022-23
1    9-5   9-5  2022-23
2    9-5   9-5  2022-23
3    9-7   9-7  2022-23
4    3-8   4-8  2022-23
5    1-6   1-6  2022-23
6    2-6   2-6  2022-23
7    3-9   2-9  2022-23
8   1-10  1-10  2022-23
9    1-5   1-5  2022-23
10  0-10   0-9  2022-23
11   0-7   0-7  2022-23
12   0-7   0-8  2022-23
13   0-9   0-9  2022-23
2021-22
                        Team   W-L    GB   PCT    W-L   PCT  HOME  AWAY STRK  \
0        Ohio State Buckeyes  14-4     -  .778   25-7  .781  14-2   9-3   L1
1              Iowa Hawkeyes  14-4     -  .778   24-8  .750  12-5   9-3   L1
2        Michigan Wolverines  13-4   0.5  .765   25-7  .781  16-0   5-5   L1
3         Maryland Terrapins  13-4   0.5  .765   23-9  .719  16-1   7-4   L1
4           Indiana Hoosiers  11-5     2  .688   24-9  .727  14-2   6-4   L1
5       Nebraska Cornhuskers  11-7     3  .611   24-9  .727  16-1   5-6   L2
6      Northwestern Wildcats   8-8     5  .500  17-12  .586  10-3   5-6   L1
7    Michigan State Spartans   8-9   5.5  .471  15-15  .500  10-5   4-7   L1
8        Purdue Boilermakers  7-11     7  .389  17-15  .531  11-6   5-7   L1
9   Minnesota Golden Gophers  7-11     7  .389  15-18  .455   9-7   5-8   L1
10         Wisconsin Badgers  5-13     9  .278   8-21  .276  5-10  2-10   L1
11     Penn State Lady Lions  5-13     9  .278  11-18  .379   7-6   3-9   L3
12   Rutgers Scarlet Knights  3-14  10.5  .176  11-20  .355   8-8   2-8   L1
13  Illinois Fighting Illini  1-13    11  .071   7-20  .259   6-9   0-8   L1

     AP  USA     Year
0   3-6  3-6  2021-22
1   4-4  4-4  2021-22
2   8-3  8-3  2021-22
3   5-8  5-9  2021-22
4   6-8  5-8  2021-22
5   3-5  3-5  2021-22
6   2-5  2-5  2021-22
7   1-7  1-7  2021-22
8   1-6  1-6  2021-22
9   0-6  0-5  2021-22
10  0-6  0-6  2021-22
11  0-7  0-7  2021-22
12  0-7  0-8  2021-22
13  0-4  0-2  2021-22
2020-21
                        Team   W-L    GB   PCT    W-L   PCT  HOME  AWAY STRK  \
0         Maryland Terrapins  17-1     -  .944   26-3  .897  10-0   9-1   L1
1           Indiana Hoosiers  16-2     1  .889   21-6  .778  10-2   8-2   L1
2    Rutgers Scarlet Knights  10-3   4.5  .769   14-5  .737   9-1   5-2   L2
3        Michigan Wolverines   9-4   5.5  .692   16-6  .727   9-1   5-3   L1
4      Northwestern Wildcats  11-7     6  .611   16-9  .640   7-5   6-2   L1
5              Iowa Hawkeyes  11-8   6.5  .579  20-10  .667  10-3   5-5   L1
6        Ohio State Buckeyes   9-7     7  .563   13-7  .650  10-1   3-6   L4
7    Michigan State Spartans   8-7   7.5  .533   15-9  .625   9-4   4-3   L2
8       Nebraska Cornhuskers  9-10   8.5  .474  13-13  .500   8-3   3-8   L1
9   Minnesota Golden Gophers  7-11    10  .389   8-13  .381   5-6   3-6   L2
10     Penn State Lady Lions  6-13  11.5  .316   9-15  .375   6-7   3-7   L4
11       Purdue Boilermakers  4-14    13  .222   7-16  .304   6-8   1-7   L2
12  Illinois Fighting Illini  2-16    15  .111   5-18  .217   4-7  0-10   L1
13         Wisconsin Badgers  2-18    16  .100   5-19  .208   5-8  0-10   L6

     AP  USA     Year
0   4-2  5-2  2020-21
1   4-4  4-4  2020-21
2   2-1  2-1  2020-21
3   4-4  6-4  2020-21
4   2-6  2-6  2020-21
5   3-9  4-9  2020-21
6   3-4  3-3  2020-21
7   1-6  1-5  2020-21
8   4-4  4-4  2020-21
9   0-5  0-5  2020-21
10  1-9  1-7  2020-21
11  0-8  0-7  2020-21
12  0-6  0-7  2020-21
13  1-8  1-8  2020-21
2019-20
                        Team   W-L  GB   PCT    W-L   PCT  HOME  AWAY STRK  \
0         Maryland Terrapins  16-2   -  .889   28-4  .875  14-1   9-3  W17
1      Northwestern Wildcats  16-2   -  .889   26-4  .867  14-2  10-1   L1
2              Iowa Hawkeyes  14-4   2  .778   23-7  .767  15-0   6-5   L2
3           Indiana Hoosiers  13-5   3  .722   24-8  .750  11-4  10-2   L1
4    Rutgers Scarlet Knights  11-7   5  .611   22-9  .710  14-2   5-6   L1
5        Ohio State Buckeyes  11-7   5  .611  21-12  .636   8-5   8-5   L1
6        Michigan Wolverines  10-8   6  .556  21-11  .656  12-4   6-5   L1
7    Michigan State Spartans   9-9   7  .500  16-14  .533  11-3   4-7   L1
8        Purdue Boilermakers  8-10   8  .444  18-14  .563   9-6   6-6   L1
9       Nebraska Cornhuskers  7-11   9  .389  17-13  .567  13-4   2-8   L2
10  Minnesota Golden Gophers  5-13  11  .278  16-15  .516   9-8   6-6   L1
11         Wisconsin Badgers  3-15  13  .167  12-19  .387   7-8   3-9   L1
12  Illinois Fighting Illini  2-16  14  .111  11-19  .367   9-9   2-9   L7
13     Penn State Lady Lions  1-17  15  .056   7-23  .233  5-11  1-10  L15

     AP  USA     Year
0   7-2  6-2  2019-20
1   2-2  2-2  2019-20
2   2-1  2-1  2019-20
3   2-5  2-5  2019-20
4   1-4  1-4  2019-20
5   5-7  3-7  2019-20
6   2-6  2-5  2019-20
7   1-7  1-7  2019-20
8   0-7  0-7  2019-20
9   1-5  0-5  2019-20
10  1-5  1-4  2019-20
11  0-6  0-6  2019-20
12  0-4  0-4  2019-20
13  0-5  0-4  2019-20

In [8]:
#combining yearly standings into one dataframe
final_standings = pd.DataFrame()
for i in range(2023,2018,-1):
    year = f'{i}-{str(i+1-2000)}'
    final_standings = pd.concat([final_standings, standings[year]])
    final_standings.reset_index(drop = True, inplace= True)

In [9]:
final_standings

,Team,W-L,GB,PCT,W-L,PCT,HOME,AWAY,STRK,AP,USA,Year
0,Ohio State Buckeyes,16-2,-,.889,26-6,.813,16-2,8-2,L1,4-3,3-3,2023-24
1,Iowa Hawkeyes,15-3,1,.833,34-5,.872,15-1,8-3,L1,7-3,7-3,2023-24
2,Indiana Hoosiers,15-3,1,.833,26-6,.813,17-0,7-4,L1,4-4,3-4,2023-24
3,Michigan State Spartans,12-6,4,.667,22-9,.710,13-2,6-4,L2,0-4,0-4,2023-24
4,Nebraska Cornhuskers,11-7,5,.611,23-12,.657,13-3,5-7,L1,1-6,1-6,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...
65,Nebraska Cornhuskers,7-11,9,.389,17-13,.567,13-4,2-8,L2,1-5,0-5,2019-20
66,Minnesota Golden Gophers,5-13,11,.278,16-15,.516,9-8,6-6,L1,1-5,1-4,2019-20
67,Wisconsin Badgers,3-15,13,.167,12-19,.387,7-8,3-9,L1,0-6,0-6,2019-20
68,Illinois Fighting Illini,2-16,14,.111,11-19,.367,9-9,2-9,L7,0-4,0-4,2019-20
69,Penn State Lady Lions,1-17,15,.056,7-23,.233,5-11,1-10,L15,0-5,0-4,2019-20

In [10]:
final_standings.to_csv('espn_ncaaw_bigten_standings/yearly_standings.csv')

# Coding for the 2023-24 Season before applying to For Loop

In [251]:
with open('espn_ncaaw_bigten_standings/2023-24.txt', encoding = 'utf-8') as f:
        soup = bs(f)

In [252]:
type(soup)

bs4.BeautifulSoup

In [253]:
name = soup.find_all('tbody', class_ = "Table__TBODY")[0].find_all('tr')[1].\
find_all('span', class_ = 'hide-mobile')[0].get_text()
name

'Iowa Hawkeyes'

In [254]:
#team names
teams = []
for i in soup.find_all('tbody', class_ = "Table__TBODY")[0].find_all('tr'):
    name = i.find_all('span', class_ = 'hide-mobile')[0].get_text()
    print(name)
    teams.append(name)

Ohio State Buckeyes
Iowa Hawkeyes
Indiana Hoosiers
Michigan State Spartans
Nebraska Cornhuskers
Michigan Wolverines
Penn State Lady Lions
Maryland Terrapins
Illinois Fighting Illini
Wisconsin Badgers
Minnesota Golden Gophers
Purdue Boilermakers
Northwestern Wildcats
Rutgers Scarlet Knights

In [256]:
soup.find_all('div', class_ = "Table__Scroller")[0].\
find_all('thead', class_ = 'Table__header-group Table__THEAD')[0].\
find_all('tr', class_ = 'Table__sub-header Table__TR Table__even')[0].\
find_all('th')[0].get_text()

'W-L'

In [257]:
# column names: Hardcoding column name "Team" in since it's only one object and the original 
# table on ESPN doesn't label the team column
cols = ['Team']
for i in soup.find_all('div', class_ = "Table__Scroller")[0].\
find_all('thead', class_ = 'Table__header-group Table__THEAD')[0].\
find_all('tr', class_ = 'Table__sub-header Table__TR Table__even')[0].\
find_all('th'):
    col_name = i.get_text()
    print(col_name)
    cols.append(col_name)

W-L
GB
PCT
W-L
PCT
HOME
AWAY
STRK
AP
USA

In [260]:
soup.find_all('div', class_ = "Table__Scroller")[0].\
find_all('tbody', class_ = 'Table__TBODY')[0].\
find_all('tr')[0].\
find_all('span')[0].get_text()

'16-2'

In [261]:
#getting data values
cells = []
for i in soup.find_all('div', class_ = "Table__Scroller")[0].\
find_all('tbody', class_ = 'Table__TBODY')[0].\
find_all('tr'):
    td = i.find_all('td')
    #using the length of td to go through each span tag and pull the value
    for j in range(0,len(td)):
        value = i.find_all('span')[j].get_text()
        print(value)
        cells.append(value)

16-2
-
.889
26-6
.813
16-2
8-2
L1
4-3
3-3
15-3
1
.833
34-5
.872
15-1
8-3
L1
7-3
7-3
15-3
1
.833
26-6
.813
17-0
7-4
L1
4-4
3-4
12-6
4
.667
22-9
.710
13-2
6-4
L2
0-4
0-4
11-7
5
.611
23-12
.657
13-3
5-7
L1
1-6
1-6
9-9
7
.500
20-14
.588
11-4
5-6
L2
2-5
2-5
9-9
7
.500
22-13
.629
15-4
5-6
L1
0-6
0-6
9-9
7
.500
19-14
.576
12-3
3-8
L2
1-8
1-8
8-10
8
.444
19-15
.559
12-5
4-7
W5
1-4
1-5
6-12
10
.333
15-17
.469
9-8
5-7
L1
0-4
0-4
5-13
11
.278
20-16
.556
15-6
4-8
L1
0-5
0-5
5-13
11
.278
15-19
.441
10-7
4-9
L1
0-6
0-6
4-14
12
.222
9-21
.300
6-9
3-9
L1
0-6
0-6
2-16
14
.111
8-24
.250
7-11
1-10
L5
0-4
0-4

In [262]:
print(teams)

['Ohio State Buckeyes', 'Iowa Hawkeyes', 'Indiana Hoosiers', 'Michigan State Spartans', 'Nebraska Cornhuskers', 'Michigan Wolverines', 'Penn State Lady Lions', 'Maryland Terrapins', 'Illinois Fighting Illini', 'Wisconsin Badgers', 'Minnesota Golden Gophers', 'Purdue Boilermakers', 'Northwestern Wildcats', 'Rutgers Scarlet Knights']

In [263]:
print(cols)

['Team', 'W-L', 'GB', 'PCT', 'W-L', 'PCT', 'HOME', 'AWAY', 'STRK', 'AP', 'USA']

In [264]:
print(cells)

['16-2', '-', '.889', '26-6', '.813', '16-2', '8-2', 'L1', '4-3', '3-3', '15-3', '1', '.833', '34-5', '.872', '15-1', '8-3', 'L1', '7-3', '7-3', '15-3', '1', '.833', '26-6', '.813', '17-0', '7-4', 'L1', '4-4', '3-4', '12-6', '4', '.667', '22-9', '.710', '13-2', '6-4', 'L2', '0-4', '0-4', '11-7', '5', '.611', '23-12', '.657', '13-3', '5-7', 'L1', '1-6', '1-6', '9-9', '7', '.500', '20-14', '.588', '11-4', '5-6', 'L2', '2-5', '2-5', '9-9', '7', '.500', '22-13', '.629', '15-4', '5-6', 'L1', '0-6', '0-6', '9-9', '7', '.500', '19-14', '.576', '12-3', '3-8', 'L2', '1-8', '1-8', '8-10', '8', '.444', '19-15', '.559', '12-5', '4-7', 'W5', '1-4', '1-5', '6-12', '10', '.333', '15-17', '.469', '9-8', '5-7', 'L1', '0-4', '0-4', '5-13', '11', '.278', '20-16', '.556', '15-6', '4-8', 'L1', '0-5', '0-5', '5-13', '11', '.278', '15-19', '.441', '10-7', '4-9', 'L1', '0-6', '0-6', '4-14', '12', '.222', '9-21', '.300', '6-9', '3-9', 'L1', '0-6', '0-6', '2-16', '14', '.111', '8-24', '.250', '7-11', '1-10', 'L5', '0-4', '0-4']

In [265]:
cells1 = teams + cells
cells1

['Ohio State Buckeyes',
 'Iowa Hawkeyes',
 'Indiana Hoosiers',
 'Michigan State Spartans',
 'Nebraska Cornhuskers',
 'Michigan Wolverines',
 'Penn State Lady Lions',
 'Maryland Terrapins',
 'Illinois Fighting Illini',
 'Wisconsin Badgers',
 'Minnesota Golden Gophers',
 'Purdue Boilermakers',
 'Northwestern Wildcats',
 'Rutgers Scarlet Knights',
 '16-2',
 '-',
 '.889',
 '26-6',
 '.813',
 '16-2',
 '8-2',
 'L1',
 '4-3',
 '3-3',
 '15-3',
 '1',
 '.833',
 '34-5',
 '.872',
 '15-1',
 '8-3',
 'L1',
 '7-3',
 '7-3',
 '15-3',
 '1',
 '.833',
 '26-6',
 '.813',
 '17-0',
 '7-4',
 'L1',
 '4-4',
 '3-4',
 '12-6',
 '4',
 '.667',
 '22-9',
 '.710',
 '13-2',
 '6-4',
 'L2',
 '0-4',
 '0-4',
 '11-7',
 '5',
 '.611',
 '23-12',
 '.657',
 '13-3',
 '5-7',
 'L1',
 '1-6',
 '1-6',
 '9-9',
 '7',
 '.500',
 '20-14',
 '.588',
 '11-4',
 '5-6',
 'L2',
 '2-5',
 '2-5',
 '9-9',
 '7',
 '.500',
 '22-13',
 '.629',
 '15-4',
 '5-6',
 'L1',
 '0-6',
 '0-6',
 '9-9',
 '7',
 '.500',
 '19-14',
 '.576',
 '12-3',
 '3-8',
 'L2',
 '1-8',
 '1-8',
 '8-10',
 '8',
 '.444',
 '19-15',
 '.559',
 '12-5',
 '4-7',
 'W5',
 '1-4',
 '1-5',
 '6-12',
 '10',
 '.333',
 '15-17',
 '.469',
 '9-8',
 '5-7',
 'L1',
 '0-4',
 '0-4',
 '5-13',
 '11',
 '.278',
 '20-16',
 '.556',
 '15-6',
 '4-8',
 'L1',
 '0-5',
 '0-5',
 '5-13',
 '11',
 '.278',
 '15-19',
 '.441',
 '10-7',
 '4-9',
 'L1',
 '0-6',
 '0-6',
 '4-14',
 '12',
 '.222',
 '9-21',
 '.300',
 '6-9',
 '3-9',
 'L1',
 '0-6',
 '0-6',
 '2-16',
 '14',
 '.111',
 '8-24',
 '.250',
 '7-11',
 '1-10',
 'L5',
 '0-4',
 '0-4']

In [266]:
#doesn't work as intended
np.array(cells1).reshape(len(cells1)//(len(cols)), len(cols))

array([['Ohio State Buckeyes', 'Iowa Hawkeyes', 'Indiana Hoosiers',
        'Michigan State Spartans', 'Nebraska Cornhuskers',
        'Michigan Wolverines', 'Penn State Lady Lions',
        'Maryland Terrapins', 'Illinois Fighting Illini',
        'Wisconsin Badgers', 'Minnesota Golden Gophers'],
       ['Purdue Boilermakers', 'Northwestern Wildcats',
        'Rutgers Scarlet Knights', '16-2', '-', '.889', '26-6', '.813',
        '16-2', '8-2', 'L1'],
       ['4-3', '3-3', '15-3', '1', '.833', '34-5', '.872', '15-1', '8-3',
        'L1', '7-3'],
       ['7-3', '15-3', '1', '.833', '26-6', '.813', '17-0', '7-4', 'L1',
        '4-4', '3-4'],
       ['12-6', '4', '.667', '22-9', '.710', '13-2', '6-4', 'L2', '0-4',
        '0-4', '11-7'],
       ['5', '.611', '23-12', '.657', '13-3', '5-7', 'L1', '1-6', '1-6',
        '9-9', '7'],
       ['.500', '20-14', '.588', '11-4', '5-6', 'L2', '2-5', '2-5',
        '9-9', '7', '.500'],
       ['22-13', '.629', '15-4', '5-6', 'L1', '0-6', '0-6', '9-9', '7',
        '.500', '19-14'],
       ['.576', '12-3', '3-8', 'L2', '1-8', '1-8', '8-10', '8', '.444',
        '19-15', '.559'],
       ['12-5', '4-7', 'W5', '1-4', '1-5', '6-12', '10', '.333', '15-17',
        '.469', '9-8'],
       ['5-7', 'L1', '0-4', '0-4', '5-13', '11', '.278', '20-16', '.556',
        '15-6', '4-8'],
       ['L1', '0-5', '0-5', '5-13', '11', '.278', '15-19', '.441',
        '10-7', '4-9', 'L1'],
       ['0-6', '0-6', '4-14', '12', '.222', '9-21', '.300', '6-9', '3-9',
        'L1', '0-6'],
       ['0-6', '2-16', '14', '.111', '8-24', '.250', '7-11', '1-10',
        'L5', '0-4', '0-4']], dtype='<U24')

In [267]:
# trying with just reaaranging record cells then adding team names later
np.array(cells).reshape(len(cells)//(len(cols)-1), len(cols)-1)

array([['16-2', '-', '.889', '26-6', '.813', '16-2', '8-2', 'L1', '4-3',
        '3-3'],
       ['15-3', '1', '.833', '34-5', '.872', '15-1', '8-3', 'L1', '7-3',
        '7-3'],
       ['15-3', '1', '.833', '26-6', '.813', '17-0', '7-4', 'L1', '4-4',
        '3-4'],
       ['12-6', '4', '.667', '22-9', '.710', '13-2', '6-4', 'L2', '0-4',
        '0-4'],
       ['11-7', '5', '.611', '23-12', '.657', '13-3', '5-7', 'L1', '1-6',
        '1-6'],
       ['9-9', '7', '.500', '20-14', '.588', '11-4', '5-6', 'L2', '2-5',
        '2-5'],
       ['9-9', '7', '.500', '22-13', '.629', '15-4', '5-6', 'L1', '0-6',
        '0-6'],
       ['9-9', '7', '.500', '19-14', '.576', '12-3', '3-8', 'L2', '1-8',
        '1-8'],
       ['8-10', '8', '.444', '19-15', '.559', '12-5', '4-7', 'W5', '1-4',
        '1-5'],
       ['6-12', '10', '.333', '15-17', '.469', '9-8', '5-7', 'L1', '0-4',
        '0-4'],
       ['5-13', '11', '.278', '20-16', '.556', '15-6', '4-8', 'L1',
        '0-5', '0-5'],
       ['5-13', '11', '.278', '15-19', '.441', '10-7', '4-9', 'L1',
        '0-6', '0-6'],
       ['4-14', '12', '.222', '9-21', '.300', '6-9', '3-9', 'L1', '0-6',
        '0-6'],
       ['2-16', '14', '.111', '8-24', '.250', '7-11', '1-10', 'L5',
        '0-4', '0-4']], dtype='<U5')

In [268]:
#combines team_names and stats and converts it back to an array
cells1 = np.array(pd.concat([pd.DataFrame(np.array(teams)), pd.DataFrame(np.array(cells).\
                                                                         reshape(len(cells)//(len(cols)-1), len(cols)-1))], axis = 1))
cells1

array([['Ohio State Buckeyes', '16-2', '-', '.889', '26-6', '.813',
        '16-2', '8-2', 'L1', '4-3', '3-3'],
       ['Iowa Hawkeyes', '15-3', '1', '.833', '34-5', '.872', '15-1',
        '8-3', 'L1', '7-3', '7-3'],
       ['Indiana Hoosiers', '15-3', '1', '.833', '26-6', '.813', '17-0',
        '7-4', 'L1', '4-4', '3-4'],
       ['Michigan State Spartans', '12-6', '4', '.667', '22-9', '.710',
        '13-2', '6-4', 'L2', '0-4', '0-4'],
       ['Nebraska Cornhuskers', '11-7', '5', '.611', '23-12', '.657',
        '13-3', '5-7', 'L1', '1-6', '1-6'],
       ['Michigan Wolverines', '9-9', '7', '.500', '20-14', '.588',
        '11-4', '5-6', 'L2', '2-5', '2-5'],
       ['Penn State Lady Lions', '9-9', '7', '.500', '22-13', '.629',
        '15-4', '5-6', 'L1', '0-6', '0-6'],
       ['Maryland Terrapins', '9-9', '7', '.500', '19-14', '.576',
        '12-3', '3-8', 'L2', '1-8', '1-8'],
       ['Illinois Fighting Illini', '8-10', '8', '.444', '19-15', '.559',
        '12-5', '4-7', 'W5', '1-4', '1-5'],
       ['Wisconsin Badgers', '6-12', '10', '.333', '15-17', '.469',
        '9-8', '5-7', 'L1', '0-4', '0-4'],
       ['Minnesota Golden Gophers', '5-13', '11', '.278', '20-16',
        '.556', '15-6', '4-8', 'L1', '0-5', '0-5'],
       ['Purdue Boilermakers', '5-13', '11', '.278', '15-19', '.441',
        '10-7', '4-9', 'L1', '0-6', '0-6'],
       ['Northwestern Wildcats', '4-14', '12', '.222', '9-21', '.300',
        '6-9', '3-9', 'L1', '0-6', '0-6'],
       ['Rutgers Scarlet Knights', '2-16', '14', '.111', '8-24', '.250',
        '7-11', '1-10', 'L5', '0-4', '0-4']], dtype=object)

In [269]:
#final result
pd.DataFrame(cells1, columns=cols)

,Team,W-L,GB,PCT,W-L,PCT,HOME,AWAY,STRK,AP,USA
0,Ohio State Buckeyes,16-2,-,.889,26-6,.813,16-2,8-2,L1,4-3,3-3
1,Iowa Hawkeyes,15-3,1,.833,34-5,.872,15-1,8-3,L1,7-3,7-3
2,Indiana Hoosiers,15-3,1,.833,26-6,.813,17-0,7-4,L1,4-4,3-4
3,Michigan State Spartans,12-6,4,.667,22-9,.710,13-2,6-4,L2,0-4,0-4
4,Nebraska Cornhuskers,11-7,5,.611,23-12,.657,13-3,5-7,L1,1-6,1-6
5,Michigan Wolverines,9-9,7,.500,20-14,.588,11-4,5-6,L2,2-5,2-5
6,Penn State Lady Lions,9-9,7,.500,22-13,.629,15-4,5-6,L1,0-6,0-6
7,Maryland Terrapins,9-9,7,.500,19-14,.576,12-3,3-8,L2,1-8,1-8
8,Illinois Fighting Illini,8-10,8,.444,19-15,.559,12-5,4-7,W5,1-4,1-5
9,Wisconsin Badgers,6-12,10,.333,15-17,.469,9-8,5-7,L1,0-4,0-4
10,Minnesota Golden Gophers,5-13,11,.278,20-16,.556,15-6,4-8,L1,0-5,0-5
11,Purdue Boilermakers,5-13,11,.278,15-19,.441,10-7,4-9,L1,0-6,0-6
12,Northwestern Wildcats,4-14,12,.222,9-21,.300,6-9,3-9,L1,0-6,0-6
13,Rutgers Scarlet Knights,2-16,14,.111,8-24,.250,7-11,1-10,L5,0-4,0-4